[Unit]
Description=When the build system is idle, build perf projects

[Service]
Type=simple
PIDFile=/var/run/build_perf.pid
ExecStart=/var/lib/git/mesa_jenkins/services/poll_branches/build_perf.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
