body {
  background: rgb(220,220,220);
  margin: 0 auto;
  max-width: 90%;
  font: normal 14px/1.2 'Helvetica Neue', 'Arial'
}

.fork {
  border:0;
  position:absolute;
  top:0;
  right:0;
}

.col {
  width: 320px;
  float: left;
  margin-right:32px;
  margin-bottom: 16px;
}
.c3 {
  margin-right:0;
}

h1 {
  border-bottom: 1px solid #333;
  font-size: 32px;
  color: #fff;
  padding-bottom: 12px;
}

h2 {
  margin: 10px 0;
  color: #000;
  font-size: 18px;
}

h3 {
  margin: 0;
  background-color: rgb(198,198,198);
}

h3 a {
  background: url("images/arrow.png") 15px 13px no-repeat;
  display: block;
  padding: 10px;
  padding-left: 32px;
  margin: 0;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  border-bottom: 1px solid rgb(255,255,255);
}
h3:hover { background: rgb(150,210,255); }
h3.open  { background: rgb(122,210,255); }
h3.open a { background-position: 13px -25px; }
h3 + div { padding: 10px; }
h2 + div,
.example {
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 20px;
}

/* Pre hide sections with JavaScript on
--- */
h3+div {
  display: none;
}
