<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <temporaryOfflineCause class="hudson.slaves.OfflineCause$UserCause">
    <timestamp>1490454649878</timestamp>
    <description>
      <holder>
        <owner>hudson.slaves.Messages</owner>
      </holder>
      <key>SlaveComputer.DisconnectedBy</key>
      <args>
        <string>majanes</string>
        <string> : STDERR: Waffle error: 0x2 WAFFLE_ERROR_UNKNOWN: open drm file for gbm failed&#xd;
&#xd;
no /sys/class/drm</string>
      </args>
    </description>
    <user>
      <fullName>Mark Janes</fullName>
      <properties>
        <hudson.model.PaneStatusProperties>
          <collapsed/>
        </hudson.model.PaneStatusProperties>
        <jenkins.security.ApiTokenProperty>
          <apiToken>bgw/VjJ6USXBqcpQfEdanwT/GmDsLdNSHg2esD2vfsUQLfzgRYTN3/6H3iiwxFm7</apiToken>
        </jenkins.security.ApiTokenProperty>
        <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.13">
          <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
        </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
        <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.57">
          <triggers/>
        </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
        <hudson.model.MyViewsProperty>
          <views>
            <hudson.model.AllView>
              <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
              <name>All</name>
              <filterExecutors>false</filterExecutors>
              <filterQueue>false</filterQueue>
              <properties class="hudson.model.View$PropertyList"/>
            </hudson.model.AllView>
          </views>
        </hudson.model.MyViewsProperty>
        <hudson.search.UserSearchProperty>
          <insensitiveSearch>false</insensitiveSearch>
        </hudson.search.UserSearchProperty>
        <hudson.security.HudsonPrivateSecurityRealm_-Details>
          <passwordHash>#jbcrypt:$2a$10$HKwHhfbS5opvTAr0krt2muFH97LwZKB8uQfwbnJ/HYnd/IZmGvO0G</passwordHash>
        </hudson.security.HudsonPrivateSecurityRealm_-Details>
        <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.19">
          <emailAddress>mark.a.janes@intel.com</emailAddress>
        </hudson.tasks.Mailer_-UserProperty>
        <jenkins.security.LastGrantedAuthoritiesProperty>
          <roles>
            <string>authenticated</string>
          </roles>
          <timestamp>1431383128406</timestamp>
        </jenkins.security.LastGrantedAuthoritiesProperty>
        <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@1.1.1">
          <providerId>default</providerId>
        </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
      </properties>
    </user>
  </temporaryOfflineCause>
  <name>g965-08</name>
  <description>bay 2, second rack, near top</description>
  <remoteFS>/home/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.13">
    <host>otc-gfxtest-g965-08.local</host>
    <port>22</port>
    <credentialsId>6d0fe36e-af28-4610-b037-9923e7ee9596</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label>g965</label>
  <nodeProperties/>
  <userId>dcbaker</userId>
</slave>