<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.565</version>
  <numExecutors>8</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves>
    <slave>
      <name>snbgt1_m64-01</name>
      <description></description>
      <remoteFS>/home/jenkins</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.6">
        <host>otc-gfxtest-snbgt1-01.jf.intel.com</host>
        <port>22</port>
        <credentialsId>a39f09d7-2914-492c-be6b-2c0700bf99bd</credentialsId>
      </launcher>
      <label>snbgt1_m64 builder snbgt1</label>
      <nodeProperties/>
      <userId>anonymous</userId>
    </slave>
    <slave>
      <name>ilk-01</name>
      <description></description>
      <remoteFS>/home/jenkins</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.6">
        <host>otc-gfxtest-ilk-01.jf.intel.com</host>
        <port>22</port>
        <credentialsId>a39f09d7-2914-492c-be6b-2c0700bf99bd</credentialsId>
      </launcher>
      <label>ilk builder</label>
      <nodeProperties/>
      <userId>anonymous</userId>
    </slave>
    <slave>
      <name>byt-01</name>
      <description></description>
      <remoteFS>/home/jenkins</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.6">
        <host>otc-gfxtest-byt-01.jf.intel.com</host>
        <port>22</port>
        <credentialsId>a39f09d7-2914-492c-be6b-2c0700bf99bd</credentialsId>
      </launcher>
      <label>byt</label>
      <nodeProperties/>
      <userId>anonymous</userId>
    </slave>
    <slave>
      <name>g965-01</name>
      <description></description>
      <remoteFS>/home/jenkins</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.6">
        <host>otc-gfxtest-g965-01.jf.intel.com</host>
        <port>22</port>
        <credentialsId>a39f09d7-2914-492c-be6b-2c0700bf99bd</credentialsId>
      </launcher>
      <label>g965</label>
      <nodeProperties/>
      <userId>anonymous</userId>
    </slave>
    <slave>
      <name>g965-02</name>
      <description></description>
      <remoteFS>/home/jenkins</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.6">
        <host>otc-gfxtest-g965-02.jf.intel.com</host>
        <port>22</port>
        <credentialsId>a39f09d7-2914-492c-be6b-2c0700bf99bd</credentialsId>
      </launcher>
      <label>g965</label>
      <nodeProperties/>
      <userId>anonymous</userId>
    </slave>
  </slaves>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label>builder</label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>