<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.diagnosis.ReverseProxySetupMonitor</string>
    <string>jenkins.model.DownloadSettings$Warning</string>
    <string>jenkins.security.s2m.MasterKillSwitchWarning</string>
  </disabledAdministrativeMonitors>
  <version>1.655</version>
  <numExecutors>8</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:dcbaker</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:majanes</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:dcbaker</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:majanes</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:dcbaker</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:majanes</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:dcbaker</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:majanes</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:anonymous</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:dcbaker</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:majanes</permission>
    <permission>hudson.model.Computer.Build:anonymous</permission>
    <permission>hudson.model.Computer.Build:dcbaker</permission>
    <permission>hudson.model.Computer.Build:majanes</permission>
    <permission>hudson.model.Computer.Configure:dcbaker</permission>
    <permission>hudson.model.Computer.Configure:majanes</permission>
    <permission>hudson.model.Computer.Connect:dcbaker</permission>
    <permission>hudson.model.Computer.Connect:majanes</permission>
    <permission>hudson.model.Computer.Create:dcbaker</permission>
    <permission>hudson.model.Computer.Create:majanes</permission>
    <permission>hudson.model.Computer.Delete:dcbaker</permission>
    <permission>hudson.model.Computer.Delete:majanes</permission>
    <permission>hudson.model.Computer.Disconnect:dcbaker</permission>
    <permission>hudson.model.Computer.Disconnect:majanes</permission>
    <permission>hudson.model.Hudson.Administer:dcbaker</permission>
    <permission>hudson.model.Hudson.Administer:majanes</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:dcbaker</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:majanes</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:dcbaker</permission>
    <permission>hudson.model.Hudson.Read:majanes</permission>
    <permission>hudson.model.Hudson.RunScripts:dcbaker</permission>
    <permission>hudson.model.Hudson.RunScripts:majanes</permission>
    <permission>hudson.model.Hudson.UploadPlugins:dcbaker</permission>
    <permission>hudson.model.Hudson.UploadPlugins:majanes</permission>
    <permission>hudson.model.Item.Build:anonymous</permission>
    <permission>hudson.model.Item.Build:dcbaker</permission>
    <permission>hudson.model.Item.Build:majanes</permission>
    <permission>hudson.model.Item.Cancel:anonymous</permission>
    <permission>hudson.model.Item.Cancel:dcbaker</permission>
    <permission>hudson.model.Item.Cancel:majanes</permission>
    <permission>hudson.model.Item.Configure:dcbaker</permission>
    <permission>hudson.model.Item.Configure:majanes</permission>
    <permission>hudson.model.Item.Create:dcbaker</permission>
    <permission>hudson.model.Item.Create:majanes</permission>
    <permission>hudson.model.Item.Delete:dcbaker</permission>
    <permission>hudson.model.Item.Delete:majanes</permission>
    <permission>hudson.model.Item.Discover:anonymous</permission>
    <permission>hudson.model.Item.Discover:dcbaker</permission>
    <permission>hudson.model.Item.Discover:majanes</permission>
    <permission>hudson.model.Item.ExtendedRead:anonymous</permission>
    <permission>hudson.model.Item.ExtendedRead:dcbaker</permission>
    <permission>hudson.model.Item.ExtendedRead:majanes</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:dcbaker</permission>
    <permission>hudson.model.Item.Read:majanes</permission>
    <permission>hudson.model.Item.Workspace:dcbaker</permission>
    <permission>hudson.model.Item.Workspace:majanes</permission>
    <permission>hudson.model.Run.Delete:dcbaker</permission>
    <permission>hudson.model.Run.Delete:majanes</permission>
    <permission>hudson.model.Run.Update:dcbaker</permission>
    <permission>hudson.model.Run.Update:majanes</permission>
    <permission>hudson.model.View.Configure:dcbaker</permission>
    <permission>hudson.model.View.Configure:majanes</permission>
    <permission>hudson.model.View.Create:dcbaker</permission>
    <permission>hudson.model.View.Create:majanes</permission>
    <permission>hudson.model.View.Delete:dcbaker</permission>
    <permission>hudson.model.View.Delete:majanes</permission>
    <permission>hudson.model.View.Read:anonymous</permission>
    <permission>hudson.model.View.Read:dcbaker</permission>
    <permission>hudson.model.View.Read:majanes</permission>
    <permission>hudson.scm.SCM.Tag:dcbaker</permission>
    <permission>hudson.scm.SCM.Tag:majanes</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>dev</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>antognolli</string>
        <string>aphogat</string>
        <string>aphogat_vulkan</string>
        <string>bwidawsk_fast</string>
        <string>curro</string>
        <string>curro_vulkan</string>
        <string>dcbaker</string>
        <string>dcbaker_mesa</string>
        <string>djdeath</string>
        <string>djdeath_vulkan</string>
        <string>elima</string>
        <string>evelikov</string>
        <string>evelikov_13</string>
        <string>evelikov_17</string>
        <string>idr</string>
        <string>igalia</string>
        <string>igalia_13</string>
        <string>igalia_17</string>
        <string>imirkin</string>
        <string>internal</string>
        <string>itoral</string>
        <string>jasuarez</string>
        <string>jekstrand</string>
        <string>jekstrand_gl</string>
        <string>jekstrand_vulkan</string>
        <string>jljusten</string>
        <string>jljusten_vulkan</string>
        <string>juhapekka</string>
        <string>kwg</string>
        <string>kwg_vulkan</string>
        <string>lfrb</string>
        <string>majanes</string>
        <string>mattst88</string>
        <string>mattst88_vulkan</string>
        <string>mesa_custom</string>
        <string>mperes</string>
        <string>nchery</string>
        <string>nchery_vulkan</string>
        <string>pnmanolova</string>
        <string>siglesias</string>
        <string>tarceri</string>
        <string>tarceri_slow</string>
        <string>tpalli</string>
        <string>tpohjola</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>mesa</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>mesa_13.0</string>
        <string>mesa_13.0_daily</string>
        <string>mesa_17.0</string>
        <string>mesa_17.0_daily</string>
        <string>mesa_custom</string>
        <string>mesa_master</string>
        <string>mesa_master_daily</string>
        <string>nir_clone_daily</string>
        <string>vulkancts</string>
        <string>vulkancts-daily</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>mesa</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>