[Unit]
Description=Maintain local mirrors of source repositories
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
PIDFile=/var/run/fetch_mirrors.pid
Environment=FETCH_MIRRORS_CACHE_DIR=/var/lib/git/
ExecStart=/var/cache/mesa_jenkins/repos/mesa_ci/services/fetch_mirrors/fetch_mirrors.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
