[Unit]
Description=Maintain local mirrors of source repositories
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
PIDFile=/var/run/fetch_mirrors.pid
ExecStart=/var/lib/git/mesa_jenkins/services/fetch_mirrors/fetch_mirrors.py
Restart=on-failure

[Install]
WantedBy=jenkins.service
