[Unit]
Description=Jenkins gpu watcher

[Service]
ExecStart=/usr/bin/python /etc/init.d/watch_gpu_hang.py start
ExecReload=/usr/bin/python /etc/init.d/watch_gpu_hang.py restart
ExecStop=/usr/bin/python /etc/init.d/watch_gpu_hang.py stop
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
